{{#each albumArr}}
    <form action="">
        <h1>{{this.name}}</h1>
        <button action="submit"><a href="">View Albums</a></button>
        <img src="{{this.img}}" alt="Album Image">
    </form>
{{/each}}
