
{{#each artistArr}}
    <form action="/albums/:artistId">
        <h1>{{this.name}}</h1>
        <button action="submit"><a href="/albums/{{this.id}}">View Albums</a></button>
        <img src="{{this.image}}" alt="Album Image">
    </form>
{{/each}}
